header,footer,nav,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color:#ededef;
}

div{
    box-sizing: border-box;
}

fieldset,img,html,body,iframe{
    border:0;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}
li{
    list-style:none;
}

h1,h2,h3,h4,h5,h6{
    font-weight:bold;
}

caption,th{
    font-weight:normal;
    font-style:normal;
    text-align:left;
}

em,strong{
    font-weight:bold;
    font-style:normal;
}

small{
    font-size:100%;
}

body,textarea,select,input,button{
    font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    font-size:12px;
    color:#444;
}

html,body{
    width:100%;height:100%;
}

html{
    overflow:hidden;overflow-y:scroll;
}

textarea{
    overflow:auto;
    resize:none;
}

a,button{
    cursor:pointer;
}

a{
    text-decoration:none;
    color:#444;
    outline:none;
}

a:hover{
    text-decoration:none;
    color:#7594B3;
}